name: Test custom url
on:
  push:
    branches:
      - 'main'
      - 'releases/**'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ./ # pguyot/arm-runner-action@HEAD
      with:
        base_image: https://raspi.debian.net/tested/20220121_raspi_1_bullseye.img.xz
        commands: |
          cat /etc/os-release
          uname -a
